spring:
   profiles:
      active:
        - dev
---
server:
  port: 8201

spring:
  profiles: dev
  application:
      name: microconfig-test-client-dev9999
  cloud:
    stream:
      kafka:
        binder:
          brokers: 120.79.175.237

eureka:
 client:
  service-url:
    defaultZone: http://admin:a@localhost:7301/eureka
info:
  app.name: microservice-config-client-dev-2222
  company.name: yc

---
server:
  port: 8102

spring:
  profiles: beta
  application:
      name: microconfig-test-client-beta

eureka:
 client:
  service-url:
    defaultZone: http://admin:a@localhost:7301/eureka
info:
  app.name: microservice-config-client-beta
  company.name: hyycinfo
